footer {
    padding: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(113, 57, 113);
    color: white;
    text-align: center;
}

/* Phone */
@media only screen and (max-width: 715px) {
    footer {
        padding: 20px;
        font-size: 14px;
    }
}

/* Tablet */
@media only screen and (max-width: 990px) {
    footer {
        padding: 30px;
        font-size: 16px;
    }
}

/* Desktop */
@media only screen and (min-width: 901px) {
    footer {
        padding: 50px;
        font-size: 18px;
    }
}